<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src='/javascripts/js.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Use the search bar below to find a movie using the <a href="http://www.omdbapi.com/">Open Movie Database API</a>.</p>
    <input class='input' type="text" id="movieName" required>
    <button class='btn btn-primary' id="search">Search</button>
    <div id='movieResults'></div>
    <div id='movieDetails'></div>
  </body>
</html>
